#LED flash
ACTION=="add", \
SUBSYSTEM=="usb", \
ATTRS{idVendor}=="0458", \
ATTRS{idProduct}=="002e", \
MODE:="0664", \
GROUP:="led", \
NAME="pidgin-led", \
SYMLINK+="pidgin-led"
RUN+="/etc/flash-set.sh"
